@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/montserrat/Montserrat-ExtraBold.ttf);
    format: ("ttf");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
    format: ("ttf");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Inter-Medium.otf);
    format: ("otf");
}