@font-face {
    font-family: "Roboto Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./robotoBold.woff2);
    format: ("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./robotoMedium.woff2);
    format: ("woff2");
}

@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/montserrat/Montserrat-ExtraBold.ttf);
    format: ("ttf");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
    format: ("ttf");
}